body {
    background-color: #171717;
}

.interpreter {
    text-align: center;
    margin: 20px auto;
    position: relative;
}

.interpreter *{
    background: transparent;
    font-family: 'Inconsolata', monospace;
    color: #eee;
}

.rules {
    text-align: left;
}

.console {
    display: block;
    margin: 10px auto;
}
    
.interpreter .console .reader::placeholder {
  color: #999;
}

.interpreter .console .kb-reader {
    height: 5em;
    display: block;
}

.interpreter .console .reader {
    text-align: left;
    border: 1px solid gray;
    background: rgba(0,0,0,0.5);
    outline: none;
    display: block;
    margin: 10px auto;
}

.node .children {
    white-space: nowrap;
    overflow-x : scroll;
    display: block;
    border-bottom: 1px solid lightblue;
    margin: 0 0 10px;
}

.node {
    display: inline-block;
    margin: 0 50px;
    padding: 10px 5px;
    position: relative;
}

.node .trans{
    position: absolute;
    right: -2em;
    bottom: 1.5em;
    z-index: 1;
}
    

.interpreter .console .submitter{
    border: 1px solid gray;
    border-radius: 50px;
    height: max;
    padding: 0 20px;
    outline: none;
    margin: 10px auto;
    text-align: center;
}

@media only screen and (min-width: 601px) {
    .interpreter *{
	font-size: 20px;
    }
    .interpreter .console .reader {
	min-width: 900px;
    }
}

@media only screen and (max-width: 600px) {
    .interpreter .console {
	width: 100%;
    }
    
    .interpreter *{
	font-size: 18px;
	width: 100%;
    }
}
